<div class="container">
    <h1 class="text-center">
        Ver Proveedor
    </h1>
    <a href="#" routerLink="/proveedor/index" class="btn btn-warning">Regresar al inicio</a>
    <div>
        <strong>ID:</strong>
        <p>{{proveedor.id}}</p>
    </div>
    <div>
        <strong>Clave:</strong>
        <p>{{proveedor.clave}}</p>
    </div>
    <div>
        <strong>Nombre:</strong>
        <p>{{proveedor.nombre}}</p>
    </div>
    <div>
        <strong>Estado:</strong>
        <p>{{proveedor.estado}}</p>
    </div>
    <div>
        <strong>Estatus:</strong>
        <p>{{proveedor.estatus}}</p>
    </div>
</div>